# CREDIT CARD FRAUD DETECTION

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

### Load Dataset

In [2]:
credit_card_data = pd.read_csv('creditcard.csv')

In [5]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [7]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
# Check the number of missing values
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
# Distribution of legit transactions and fraudelent transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

0 ==> Normal Transaction

1 ==> Fraud Transaction

Fraud class count is very less. We cannot feed this data to our model.

This dataset is highly unbalanced

In [10]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [11]:
print(legit.shape, fraud.shape)

(284315, 31) (492, 31)

In [12]:
# Statistical analysis of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [13]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [15]:
# Compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Under sampling
Build a sample dataset containing similar distribution of normal and fraudulent transactions

In [16]:
legit_sample = legit.sample(n=492)

Concatenate 2 dataframes

In [17]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [18]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
112945,72865.0,1.319141,0.244648,0.166705,0.421935,-0.050779,-0.507411,0.060523,-0.165563,0.066255,...,-0.309704,-0.879329,0.029794,-0.454210,0.337379,0.145772,-0.028627,0.011062,1.98,0
263369,160923.0,2.060703,-0.111969,-1.078747,0.426953,-0.224233,-1.239221,0.127565,-0.287425,0.669409,...,-0.298327,-0.767055,0.351342,0.023082,-0.328359,0.198207,-0.076305,-0.061637,1.98,0
5782,6185.0,-1.360578,0.399373,2.769119,0.870879,-0.104103,1.449705,-0.415536,0.409463,2.308582,...,-0.332373,-0.555083,-0.464833,-1.036586,0.360965,0.928181,-0.433580,0.111569,34.37,0
193685,130246.0,2.132565,-0.413153,-1.685592,-0.916569,0.151132,-0.659545,-0.052404,-0.102817,0.839599,...,-0.322366,-0.935527,0.239920,-1.056075,-0.341081,0.589585,-0.117412,-0.090377,4.00,0
164459,116731.0,-0.443730,-4.307896,-2.834815,1.287383,-1.376011,-0.831865,1.906331,-0.711438,0.337815,...,0.991174,-0.027296,-1.123081,0.020786,-0.421515,0.655461,-0.341459,0.156060,1318.95,0

In [19]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [20]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,90560.674797,0.036770,-0.073740,-0.004122,0.029122,-0.037428,0.089098,0.044329,0.060051,-0.005703,...,0.011179,0.024374,0.004621,0.033041,-0.003622,0.003295,0.006665,0.009008,0.016271,102.416118
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Split the data into Features and Targets

In [25]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [26]:
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
112945,72865.0,1.319141,0.244648,0.166705,0.421935,-0.050779,-0.507411,0.060523,-0.165563,0.066255,...,-0.050388,-0.309704,-0.879329,0.029794,-0.454210,0.337379,0.145772,-0.028627,0.011062,1.98
263369,160923.0,2.060703,-0.111969,-1.078747,0.426953,-0.224233,-1.239221,0.127565,-0.287425,0.669409,...,-0.278700,-0.298327,-0.767055,0.351342,0.023082,-0.328359,0.198207,-0.076305,-0.061637,1.98
5782,6185.0,-1.360578,0.399373,2.769119,0.870879,-0.104103,1.449705,-0.415536,0.409463,2.308582,...,-0.373390,-0.332373,-0.555083,-0.464833,-1.036586,0.360965,0.928181,-0.433580,0.111569,34.37
193685,130246.0,2.132565,-0.413153,-1.685592,-0.916569,0.151132,-0.659545,-0.052404,-0.102817,0.839599,...,-0.242428,-0.322366,-0.935527,0.239920,-1.056075,-0.341081,0.589585,-0.117412,-0.090377,4.00
164459,116731.0,-0.443730,-4.307896,-2.834815,1.287383,-1.376011,-0.831865,1.906331,-0.711438,0.337815,...,2.446116,0.991174,-0.027296,-1.123081,0.020786,-0.421515,0.655461,-0.341459,0.156060,1318.95

In [27]:
Y.head()

112945    0
263369    0
5782      0
193685    0
164459    0
Name: Class, dtype: int64

### Train Test Split

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=42)

In [30]:
print(
	X_train.shape,
	X_test.shape,
	Y_train.shape,
	Y_test.shape
)

(787, 30) (197, 30) (787,) (197,)

### Logistic Regression

In [33]:
model = LogisticRegression(solver='lbfgs', max_iter=300)

In [34]:
# Training the logistic regression model with the training data
model.fit(X_train, Y_train)

LogisticRegression(max_iter=300)

### Model Evaluation

In [36]:
# Accuracy on Training Data
X_trian_prediction = model.predict(X_train)
trainig_data_accuracy = accuracy_score(X_trian_prediction, Y_train)
trainig_data_accuracy

0.9428208386277002

In [37]:
# Accuracy on Test Data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
test_data_accuracy

0.9695431472081218